# Project
nbproject/private/

# Konfigurationsdateien
config/development/
config/testing/

# Drittanbieter-Programme
composer.lock
third_party/*
!third_party/.gitkeep
!third_party/.htaccess

# Cache, Mail, Share und Temp
cache/*
temp/*
share/*
share/logs/*
share/mails/*
!cache/.gitkeep
!temp/.gitkeep
!share/.gitkeep
!share/logs/.gitkeep
!share/mails/.gitkeep
!cache/.htaccess
!temp/.htaccess
!share/.gitkeep
!share/logs/.htaccess
!share/mails/.htaccess

# Dateien im framework-Verzeichnis (.gitkeep)
!framework/.htaccess
!framework/controller/.gitkeep
!framework/core/.gitkeep
!framework/helper/.gitkeep
!framework/libraries/.gitkeep
!framework/models/.gitkeep
!framework/sql/.gitkeep
!framework/error/.gitkeep

# Dateien im app-Verzeichnis
app/controller/*
app/helper/*
app/libraries/*
app/models/*
app/themes/*
app/views/*

# Dateien im app-Verzeichnis (.gitkeep)
!app/.htaccess
!app/controller/.gitkeep
!app/helper/.gitkeep
!app/libraries/.gitkeep
!app/models/.gitkeep
!app/themes/.gitkeep
!app/views/.gitkeep

# Dateien im admin-Verzeichnis (.gitkeep)
!admin/.htaccess
!admin/controller/.gitkeep
!admin/helper/.gitkeep
!admin/libraries/.gitkeep
!admin/models/.gitkeep
!admin/themes/.gitkeep
!admin/views/.gitkeep